@import "basics/media";
@import "basics/basicMixins";
@import "basics/helpers";
@import "basics/reset";

$f_osans: 'Open Sans', sans-serif;

$c_grey: #e9e9e9;
$c_lightGrey: #fbfafa;

$c_ekranella: #ea158c;

$c_news: #913d88;
$c_ratings: #663399;
$c_series: #3498db;
$c_trailers: #19b5fe;
$c_gallery: #66cc99;
$c_series2: #2ecc71;
$c_exclusive: #f1c40f;
$c_interview: #f1a9a0;
$c_likes: #f72459;
$c_shows: #bf3a2b;
$c_cases: #95a5a6;
$c_editors: #34495e;
$c_fotohaber: #e74c3c;

body{
	margin: 0;
	font-family: $f_osans;
	font-weight: normal;
	line-height: normal;
	@include sm{
		margin-top: 89px;
	}
	@include xs{
		margin-top: 76px;
	}
}

strong{
	font-weight: bold;
}

em{
	font-style: italic !important;
}

a{
	text-decoration: none;
}

/*titles*/
.ekranella_title{
	color: $c_ekranella;
	&:after{
		background: $c_ekranella;
	}
}
.news_title{
	color: $c_news;
	&:after{
		background: $c_news;
	}
}

.ratings_title{
	color: $c_ratings;
	&:after{
		background: $c_ratings;
	}
}

.series_title{
	color: $c_series;
	&:after{
		background: $c_series;
	}
}

.trailers_title{
	color: $c_trailers;
	&:after{
		background: $c_trailers;
	}
}

.gallery_title{
	color: $c_gallery;
	&:after{
		background: $c_gallery;
	}
}

.series2_title{
	color: $c_series2;
	&:after{
		background: $c_series2;
	}
}

.exclusive_title{
	color: $c_exclusive;
	&:after{
		background: $c_exclusive;
	}
}

.interview_title{
	color: $c_interview;
	&:after{
		background: $c_interview;
	}
}

.likes_title{
	color: $c_likes;
	&:after{
		background: $c_likes;
	}
}

.shows_title{
	color: $c_shows;
	&:after{
		background: $c_shows;
	}
}

.cases_title{
	color: $c_cases;
	&:after{
		background: $c_cases;
	}
}

.editors_title{
	color: $c_editors;
	&:after{
		background: $c_editors;
	}
}

.fotohaber_title{
	color: $c_fotohaber;
	&:after{
		background: $c_fotohaber;
	}
}
/*titles*/

/*page_h_selected*/
.news_h_selected {
	.page_select{
		border-bottom: 3px solid $c_news !important;
		.button{
			&:after{
				border-color: transparent transparent $c_news transparent !important;
			}
		}
		.active{
			background: $c_news !important;
		}
	}
	.indicators{
			ul{
				li{
					background: $c_news !important;
				}
			}
		}
}
.gallery_h_selected {
	.page_select{
		border-bottom: 3px solid $c_gallery !important;
		.button{
			&:after{
				border-color: transparent transparent $c_gallery transparent !important;
			}
		}
		.active{
			background: $c_gallery !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_gallery !important;
			}
		}
	}
}
.series2_h_selected {
	.page_select{
		border-bottom: 3px solid $c_series2 !important;
		.button{
			&:after{
				border-color: transparent transparent $c_series2 transparent !important;
			}
		}
		.active{
			background: $c_series2 !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_series2 !important;
			}
		}
	}
}
.ratings_h_selected{
	.page_select{
		border-bottom: 3px solid $c_ratings !important;
		.button{
			&:after{
				border-color: transparent transparent $c_ratings transparent !important;
			}
		}
		.active{
			background: $c_ratings !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_ratings !important;
			}
		}
	}
}
.editors_h_selected{
	.page_select{
		border-bottom: 3px solid $c_editors !important;
		.button{
			&:after{
				border-color: transparent transparent $c_editors transparent !important;
			}
		}
		.active{
			background: $c_editors !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_editors !important;
			}
		}
	}
}
.ekranella_h_selected{
	.page_select{
		border-bottom: 3px solid $c_ekranella !important;
		.button{
			&:after{
				border-color: transparent transparent $c_ekranella transparent !important;
			}
		}
		.active{
			background: $c_ekranella !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_ekranella !important;
			}
		}
	}
}
.interview_h_selected{
	.page_select{
		border-bottom: 3px solid $c_interview !important;
		.button{
			&:after{
				border-color: transparent transparent $c_interview transparent !important;
			}
		}
		.active{
			background: $c_interview !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_interview !important;
			}
		}
	}
}
.exclusive_h_selected{
	.page_select{
		border-bottom: 3px solid $c_exclusive !important;
		.button{
			&:after{
				border-color: transparent transparent $c_exclusive transparent !important;
			}
		}
		.active{
			background: $c_exclusive !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_exclusive !important;
			}
		}
	}
}
.series_h_selected{
	.page_select{
		border-bottom: 3px solid $c_series !important;
		.button{
			&:after{
				border-color: transparent transparent $c_series transparent !important;
			}
		}
		.active{
			background: $c_series !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_series !important;
			}
		}
	}
}
.trailers_h_selected{
	.page_select{
		border-bottom: 3px solid $c_trailers !important;
		.button{
			&:after{
				border-color: transparent transparent $c_trailers transparent !important;
			}
		}
		.active{
			background: $c_trailers !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_trailers !important;
			}
		}
	}
}
.likes_h_selected{
	.page_select{
		border-bottom: 3px solid $c_likes !important;
		.button{
			&:after{
				border-color: transparent transparent $c_likes transparent !important;
			}
		}
		.active{
			background: $c_likes !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_likes !important;
			}
		}
	}
}
.shows_h_selected{
	.page_select{
		border-bottom: 3px solid $c_shows !important;
		.button{
			&:after{
				border-color: transparent transparent $c_shows transparent !important;
			}
		}
		.active{
			background: $c_shows !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_shows !important;
			}
		}
	}
}
.cases_h_selected{
	.page_select{
		border-bottom: 3px solid $c_cases !important;
		.button{
			&:after{
				border-color: transparent transparent $c_cases transparent !important;
			}
		}
		.active{
			background: $c_cases !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_cases !important;
			}
		}
	}
}
.fotohaber_h_selected{
	.page_select{
		border-bottom: 3px solid $c_fotohaber !important;
		.button{
			&:after{
				border-color: transparent transparent $c_fotohaber transparent !important;
			}
		}
		.active{
			background: $c_fotohaber !important;
		}
	}
	.indicators{
		ul{
			li{
				background: $c_fotohaber !important;
			}
		}
	}
}
/*page_h_selected*/

/*page_selected*/
.news_selected{
	border-bottom: 3px solid $c_news !important;
	.button{
		&:after{
			border-color: transparent transparent $c_news transparent !important;
		}
	}
	.active{
		background: $c_news !important;
	}
	.indicators{
		ul{
			li{
				background: $c_news !important;
			}
		}
	}
}
.gallery_selected{
	border-bottom: 3px solid $c_gallery !important;
	.button{
		&:after{
			border-color: transparent transparent $c_gallery transparent !important;
		}
	}
	.active{
		background: $c_gallery !important;
	}
	.indicators{
		ul{
			li{
				background: $c_gallery !important;
			}
		}
	}
}
.series2_selected{
	border-bottom: 3px solid $c_series2 !important;
	.button{
		&:after{
			border-color: transparent transparent $c_series2 transparent !important;
		}
	}
	.active{
		background: $c_series2 !important;
	}
	.indicators{
		ul{
			li{
				background: $c_series2 !important;
			}
		}
	}
}
.ratings_selected{
	border-bottom: 3px solid $c_ratings !important;
	.button{
		&:after{
			border-color: transparent transparent $c_ratings transparent !important;
		}
	}
	.active{
		background: $c_ratings !important;
	}
	.indicators{
		ul{
			li{
				background: $c_ratings !important;
			}
		}
	}
}
.editors_selected{
	border-bottom: 3px solid $c_editors !important;
	.button{
		&:after{
			border-color: transparent transparent $c_editors transparent !important;
		}
	}
	.active{
		background: $c_editors !important;
	}
	.indicators{
		ul{
			li{
				background: $c_editors !important;
			}
		}
	}
}
.ekranella_selected{
	border-bottom: 3px solid $c_ekranella !important;
	.button{
		&:after{
			border-color: transparent transparent $c_ekranella transparent !important;
		}
	}
	.active{
		background: $c_ekranella !important;
	}
	.indicators{
		ul{
			li{
				background: $c_ekranella !important;
			}
		}
	}
}
.interview_selected{
	border-bottom: 3px solid $c_interview !important;
	.button{
		&:after{
			border-color: transparent transparent $c_interview transparent !important;
		}
	}
	.active{
		background: $c_interview !important;
	}
	.indicators{
		ul{
			li{
				background: $c_interview !important;
			}
		}
	}
}
.exclusive_selected{
	border-bottom: 3px solid $c_exclusive !important;
	.button{
		&:after{
			border-color: transparent transparent $c_exclusive transparent !important;
		}
	}
	.active{
		background: $c_exclusive !important;
	}
	.indicators{
		ul{
			li{
				background: $c_exclusive !important;
			}
		}
	}
}
.series_selected{
	border-bottom: 3px solid $c_series !important;
	.button{
		&:after{
			border-color: transparent transparent $c_series transparent !important;
		}
	}
	.active{
		background: $c_series !important;
	}
	.indicators{
		ul{
			li{
				background: $c_series !important;
			}
		}
	}
}
.trailers_selected{
	border-bottom: 3px solid $c_trailers !important;
	.button{
		&:after{
			border-color: transparent transparent $c_trailers transparent !important;
		}
	}
	.active{
		background: $c_trailers !important;
	}
	.indicators{
		ul{
			li{
				background: $c_trailers !important;
			}
		}
	}
}
.likes_selected{
	border-bottom: 3px solid $c_likes !important;
	.button{
		&:after{
			border-color: transparent transparent $c_likes transparent !important;
		}
	}
	.active{
		background: $c_likes !important;
	}
	.indicators{
		ul{
			li{
				background: $c_likes !important;
			}
		}
	}
}
.shows_selected{
	border-bottom: 3px solid $c_shows !important;
	.button{
		&:after{
			border-color: transparent transparent $c_shows transparent !important;
		}
	}
	.active{
		background: $c_shows !important;
	}
	.indicators{
		ul{
			li{
				background: $c_shows !important;
			}
		}
	}
}
.cases_selected{
	border-bottom: 3px solid $c_cases !important;
	.button{
		&:after{
			border-color: transparent transparent $c_cases transparent !important;
		}
	}
	.active{
		background: $c_cases !important;
	}
	.indicators{
		ul{
			li{
				background: $c_cases !important;
			}
		}
	}
}
.fotohaber_selected{
	border-bottom: 3px solid $c_fotohaber !important;
	.button{
		&:after{
			border-color: transparent transparent $c_fotohaber transparent !important;
		}
	}
	.active{
		background: $c_fotohaber !important;
	}
	.indicators{
		ul{
			li{
				background: $c_fotohaber !important;
			}
		}
	}
}
/*page_selected*/

header{
	font-size: 13px;
	border-bottom: 1px solid $c_grey;
	.top{
		background: $c_ekranella;
		padding-top: 10px;
		padding-bottom: 10px;
		@include xs{
			display: none;
		}
		@include sm{
				display: none;
			}
		nav{
			float: right;
			color: #fff;
			a{
				margin-left: 12px;
   				font-size: 12px;
   				position: relative;
   				&:after{
   					content:"";
   					position: absolute;
   					left: 0;
   					bottom: -8px;
   					height: 2px;
   					background: #fff;
   					width: 100%;
   					opacity: 0;
   					transition: all ease 0.3s;
   				}
   				&:hover{
   					color: #fff;
   					&:after{
   						opacity: 1;
	   					bottom: -3px;
	   					transition: all ease 0.3s;
   					}
   				}
			}
			.special{
				border-left: 2px solid #fff;
			    border-right: 2px solid #fff;
			    padding: 0 10px;
			}
		}
		.line{
			float: right;
		    margin: 0 10px 0 30px;
		    color: #e494b1;
		}
		.social{
			float: right;
			a{
				margin-left: 12px;
				img{
					height: 12px;
				}
			}
		}
	}
	.bottom{
		padding-top: 20px;
		padding-bottom: 20px;
		@include sm{
			width: 100%;
			position: fixed;
			top: 0;
		    left: 0;
		    z-index: 9;
		    background: #fff;
		    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		}
		@include xs{
			width: 100%;
			position: fixed;
			top: 0;
		    left: 0;
		    z-index: 9;
		    background: #fff;
		    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
		    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
		    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
		}
		.logo{
			width: 300px;
			margin-top: 8px;
			@include xs{
				width: 200px;
			}
		}
		nav{
			text-align: right;
			@include sm{
				display: none;
			}
			@include xs{
				display: none;
			}
			a{
				margin-top: 17px;
			    margin-left: 15px;
			    display: inline-block;
			    font-weight: bold;
			    position: relative;
			    transition: all ease 0.3s;
			    @include md{
			    	margin-left: 10px;
			    }
			    &:after{
   					content:"";
   					position: absolute;
   					left: 0;
   					bottom: -15px;
   					height: 3px;
   					background: $c_ekranella;
   					width: 100%;
   					opacity: 0;
   					transition: all ease 0.3s;
   				}
			    &:hover{
   					color: $c_ekranella;
   					transition: all ease 0.3s;
   					&:after{
   						opacity: 1;
	   					bottom: -10px;
	   					transition: all ease 0.3s;
   					}
   				}
			}
		}
		.search{
			cursor: pointer;
			float: right;
			margin-left: 20px;
			@include xs{
				display: none;
			}
			.icon{
				margin-top: 17px;
				display: inline-block;
				position: relative;
				padding-left: 20px;
				margin-left: 10px;
				.pic{
					width: 15px;
					height: 15px;
					background: url(../img/header/search.png) center no-repeat;
					position: absolute;
					top: 1px;
					left: 0;
					transition: all ease 0.1s;
				}
				.pic_close{
					background: url(../img/header/close.png) center no-repeat;
					transition: all ease 0.1s;
				}
			}
		}
		.m_menu_button{
			display: none;
			float: right;
			margin-top: 13px;
			width: 29px;
			height: 24px;
			background: url(../img/header/mobile_menu.png) no-repeat center;
			@include xs{
				display: block;
				margin-top: 6px;
			}
			@include sm{
				display: block;
			}
		}
	}
}

.mobile_menu{
	opacity: 0;
	top: 0;
	left: 0;
	position: fixed;
	background: #242424;
	width: 100%;
	height: 1px;
	z-index: 99;
	padding: 0 20px;
	overflow-y: auto;
	@include lg{
		display: none !important;
	}
	@include md{
		display: none !important;
	}
	@include sm{
		padding: 0 40px;
	}
	.logo{
		border-bottom: 1px solid #303030;
		padding: 30px 0;
		display: table;
		width: 100%;
		img{
			height: 24px;
			float: left;
		}
		.m_search{
			float: right;
			width: 18px;
			height: 18px;
			background: url(../img/header/search_wh.png) center no-repeat;
			cursor: pointer;
			margin-right: 20px;
			@include sm{
				margin-right: 40px;
			}
		}
		.m_menu_close{
			float: right;
			width: 20px;
			height: 18px;
			background: url(../img/header/close_wh.png) center no-repeat;
			background-size: 19px 19px;
			cursor: pointer;
		}
	}
	nav{
		border-bottom: 1px solid #303030;
		padding: 10px 0;
		opacity: 0;
		@include sm{
			padding: 20px 0;
		}
		a{
			font-size: 24px;
			display: block;
			color: #fff;
			margin-bottom: 5px;
			font-weight: bold;
			@include sm{
				font-size: 40px;
			    margin-bottom: 10px;
			}
		}
	}
	.bottom{
		a{
			color: #707070;
		}
	}
	.social{
		margin-top: 25px;
		a{
			display: inline-block;
			margin-right: 20px;
			img{
				height: 15px;
			}
		}
		.txt{
			font-size: 11px;
			color: #707070;
			margin-top: 20px;
			@include sm{
				font-size: 14px;
			}
		}
	}
}

footer{
	font-size: 14px;
	color: #fff;
	.top{
		background: $c_ekranella;
		padding-top: 60px;
		padding-bottom: 60px;
		.logo{
			margin-bottom: 50px;
			@include sm{
    			display: block;
    		}
    		@include xs{
    			display: block;
    		}
			span{
				float: left;
    			margin-top: 5px;
    			@include sm{
    				display: block;
    				float: none;
    			}
    			@include xs{
    				display: block;
    				float: none;
    			}
			}
		}
		nav{
			margin-top: 30px;
			border-right: 1px solid #fff;
			padding-left: 30px;
			padding-right: 0px;
			@include sm{
				border: 0;
				padding-left: 15px;
			}
			@include xs{
				border: 0;
				padding-left: 15px;
			}
			a{
				font-weight: bold;	
				display: table;
				margin-bottom: 10px;
				position: relative;
   				&:after{
   					content:"";
   					position: absolute;
   					left: 0;
   					bottom: -8px;
   					height: 2px;
   					background: #fff;
   					width: 100%;
   					opacity: 0;
   					transition: all ease 0.3s;
   				}
   				&:hover{
   					color: #fff;
   					&:after{
   						opacity: 1;
	   					bottom: -3px;
	   					transition: all ease 0.3s;
   					}
   				}
			}
		}
		.last{
			border-right: 0;
		}
	}
	.bottom{
		padding-top: 10px;
		padding-bottom: 5px;
		background: #cc127a;
		.social{
			margin-top: 10px;
			float: left;
			@include xs{
				float: none;
				text-align: center;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #fff;
			}
			a{
				margin-right: 20px;
			}
		}
		.logo{
			float: right;
			display: block;
			@include xs{
				float: none;
				text-align: center;
			}
		}
	}
}

section{
	margin-bottom: 40px;
}

.container{
	.box_title{
		font-size: 14px;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 10px;
		&:after{
			content: "";
			position: absolute;
			width: 20px;
			height: 2px;
			top: 28px;
			left: 0;
		}
	}
	.page_select{
		margin-bottom: 30px;
		border-bottom: 3px solid;
		@include xs{
			margin-bottom: 60px;
		}
		.button{
			display: inline-block;
			padding: 10px 0;
			width: 250px;
			text-align: center;
			position: relative;
			color: #000;
			font-size: 20px;
			cursor: pointer;
			font-weight: bold;
			@include md{
				width: 200px;
			}
			@include sm{
				width: 200px;
			}
			@include xs{
				width: 100%;
			}
			&:after{
				content: "";
				bottom:0;
				left: calc(50% - 7px);	
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 7px 7px 7px;
				border-color: transparent transparent #000 transparent;
				@include xs{
    				display: none;
    			}
			}
		}
		.active{
			color: #fff;
			&:after{
				border-width: 0;
			}
			span{
				display: inline !important;
			}
		}
	}
	.indicators{
			position: absolute;
			top: -70px;
    		right: 15px;
    		@include xs{
    			top: -48px;
    		}
    		.ind_title{
				left: -200px;
			    top: 0;
			    background: none !important;
			    font-size: 20px;
			    font-weight: bold;
			    position: absolute;
			    border-left: 3px solid;
			    border-right: 3px solid;
			    padding: 0 15px;
			    @include sm{
    				display: none;
    			}
			    @include xs{
    				display: none;
    			}
			}
			.all_news{
				display: block;
				left: -110px;
			    top: 3px;
			    background: none !important;
			    font-size: 14px;
			    font-weight: bold;
			    position: absolute;
				&:hover{
			    	color: $c_news;
			    	text-decoration: underline;
			    }
			    @include sm{
    				display: none;
    			}
			    @include xs{
    				display: none;
    			}
			}
			ul{
				li{
					border-radius: 50%;
				    height: 20px;
				    width: 20px;
				    font-size: 12px;
				    display: block;
				    cursor: pointer;
				    position: relative;
				    margin-top: 2.5px;
				    float: left;
				    margin-left: 8px;
					span{
						display: none;
						@include xs{
    						display: block;
						    color: #fff;
						    position: absolute;
						    top: 9px;
						    text-align: center;
						    width: 100%;
    					}
					}
					@include xs{
    					border-radius: 0;
    					margin-left: 12px;
    					width: 35px;
    					height: 35px;
    					margin-top: 0;
    				}
				}
			}
			.active{
				width: 25px;
			    height: 25px;
			    margin-top: 0px;
			    @include xs{
    				width: 50px;
    				height: 35px;
    			}
				span{
					display: block;
				    color: #fff;
				    position: absolute;
				    top: 4px;
				    text-align: center;
				    width: 100%;
				    @include xs{
	    				top: 9px;
    				}
				}
			}
		}
	.home_boxes{
		.box{
			display: block;
			margin-bottom: 30px;
			background-size: auto 105%;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			font-weight: bold;
			transition: all ease 0.3s;
			@include sm{
				background-size: cover;
				margin-bottom: 15px;
			}
			@include xs{
				margin-bottom: 15px;
				background-size: cover;
			}
			.txt{
				position: absolute;
				bottom: 30px;
				left: 30px;
				right: 30px;
				z-index: 2;
				.desc{
					font-size: 22px;
					color: #fff;
				}
				.alt_desc{
					margin-top: 5px;
					font-size: 10px;
					color: #fff;
					font-weight: 400;
				}
			}
			&:hover{
				transition: all ease 0.3s;
				background-size: auto 108%;
				@include sm{
					background-size: cover;
				}
				@include xs{
					background-size: cover;
				}
			}
			&:after{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				top: 0;
				left:0;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&amp;0+0,0.6+78 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 78%, rgba(0,0,0,0.6) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(78%,rgba(0,0,0,0.6)), color-stop(99%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */

			}
		}
	}
}

.page_margin{
	margin-top: 80px;
	@include sm{
		margin-top: 30px;
	}
	@include xs{
		margin-top: 50px;
	}
}

/*home*/

#home_slider{
	@include sm{
    	width: 100%;
    	padding: 0;
    }
    @include xs{
    	width: 100%;
    	padding: 0;
    }
	.slider{
		width: 860px;
		margin-right: 30px;
		float: left;
		transition: all ease 0.5s;
		@include md{
    		width: 660px;
    	}
    	@include sm{
    		width: 100%;
    		padding: 0;
    	}
    	@include xs{
			width: 100%;
    		padding: 0;
    	}
    	.glyphicon{
    		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    	}
    	.carousel-control{
    		width: 10%;
    	}
    	.left{
				background: none !important;
				background-image: none !important;
				&:hover{
					background: none !important;
					background-image: none !important;
				}
			}
			.right{
				background: none !important;
				background-image: none !important;
				&:hover{
					background: none !important;
					background-image: none !important;
				}
			}
		.carousel-indicators{
			left: 5%;
			margin-left: 0;
    		text-align: left;
    		@include xs{
    			display: none;
    		}
    		li{
    			border:0;
    			background: #fff;
    		}
    		.active{
    			background: $c_ekranella;
    		}
		}
		.item{
			height: 530px;
			overflow: hidden;
			img{
				height: 100%;
				max-width: none;
				@include xs{
			    	margin-left: -50%;
			    }
			}
			&:after{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				top: 0;
				left:0;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&amp;0+0,0.6+78 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 78%, rgba(0,0,0,0.6) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(78%,rgba(0,0,0,0.6)), color-stop(99%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 78%,rgba(0,0,0,0.6) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */

			}
		}
		.txt{
			position: absolute;
			bottom: 60px;
			width: 90%;
			margin-left: 5%;
			z-index: 2;
			font-weight: bold;
			.title{
				font-size: 36px;
				color: #fff;
				margin-bottom: 10px;
				@include xs{
    				font-size: 26px;
    			}
			}
			.desc{
				font-size: 18px;
				color: #fff;
				@include xs{
    				font-size: 13px;
    			}
			}
		}
		.glyphicon-chevron-right{
			opacity: 0;
			background: url(../img/slider/slider_right.png) center no-repeat;
			&:before{
				content:"";	
			}
		}
		.glyphicon-chevron-left{
			opacity: 0;
			background: url(../img/slider/slider_left.png) center no-repeat;
			&:before{
				content:"";
			}
		}
		&:hover{
			transition: all ease 0.5s;
			.glyphicon-chevron-right{
				opacity: 1;
				transition: all ease 0.5s;
			}
			.glyphicon-chevron-left{
				opacity: 1;
				transition: all ease 0.5s;
			}
		}
	}
	.slider_boxes{
		width: 250px;
		float: left;
		@include sm{
			display: none;
		}
		@include xs{
			display: none;
		}
		.box{
			display: block;
			width: 250px;
			height: 250px;
			margin-bottom: 30px;
			background-size: cover;
			background-position: center;
			position: relative;
			overflow: hidden;
			float: right;
			img{
				height: 100%;
			}
			.txt{
				position: absolute;
				bottom: 20px;
				width: 80%;
				margin-left: 10%;
				z-index: 2;
				font-weight: bold;
				.desc{
					font-size: 18px;
					color: #fff;
				}
			}
		}
	}
}

.home_sections, #home_series{
	.home_boxes{
		.square{
			height: 650px;
			@include md{
				height: 535px;
			}
			@include xs{
				height: 300px;
			}
		}
		.small_square{
			height: 360px;
			@include md{
				height: 293px;
			}
			@include xs{
				height: 300px;
			}
		}
		.rectangle{
			height: 310px;
			@include md{
				height: 252px;
			}
			@include xs{
				height: 300px;
			}
		}
	}
	&.hide {
		display:none;
	}
}

#home_banner1, #home_banner2{
	margin-bottom: 70px;
	.banner{
		text-align: center;
		padding: 140px 0;
		background-size: cover;
		background-position: center;
		position: relative;
		@include xs{
			padding: 100px 0;
		}
		a{
			&:hover{
				color: #fff;
			}
		}
		&:after{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(0,0,0,0.4);
			z-index: 1;
			top: 0;
			left:0;
		}
		.txt{
			z-index: 2;
			color: #fff;
			width: 60%;
			margin: 0 auto;
			position: relative;
			font-weight: bold;
			@include xs{
				width: 80%;
			}
			div{
				margin-bottom: 10px;
			}
			.title{
				font-size: 18px;
			}
			.desc{
				font-size: 40px;
				width: 80%;
				margin: 10px auto;
				@include xs{
					font-size: 30px;
				}
			}
			.button{
				margin-top: 30px;
				display: inline-block;
				font-size: 20px;
				padding: 10px 0;
				background: $c_interview;
				width: 250px;
				&:hover{
					color: #fff;
				}
			}
			&:before{
				content: "";
				position: absolute;
				width: 37px;
				height: 200px;
				left:0;
				top:0;
				background: url(../img/homepage/int_left.png) no-repeat;
				@include xs{
					display: none;
				}
			}
			&:after{
				content: "";
				position: absolute;
				width: 37px;
				height: 200px;
				right:0;
				top:0;
				background: url(../img/homepage/int_right.png) no-repeat;
				@include xs{
					display: none;
				}
			}
		}
		.txt2{
			@extend .txt;
			&:before{
				display: none;
			}
			&:after{
				display: none;
			}
			img{
				display: block;
				margin: 0 auto;
				@include xs{
					width: 100%;
				}
			}
			.button{
				margin-top: 70px;
				background: $c_exclusive;
				@include xs{
					width: 100%;
				}
			}
		}
	}	
}



.home_ratings{
	.indicators{
		.ind_title{
			right: 0;
			left: auto;
		}
	}
	.ratings_row{
		padding: 20px 0;
		background: $c_lightGrey;
		display: table;
    	width: 100%;
    	border-bottom: 1px solid $c_grey;
		.title_box{
			@include xs{
				margin-bottom: 15px;
			}
			.number{
				margin-right: 20px;
			}
		}
		.channel_box{
			.line{
				margin: 0 15px;
			}
			.channel{
				width: 110px;
    			float: left;
    			@include xs{
					width: auto;
				}
			}
		}
		.perc_box{
			.percentage{
				font-weight: bold;
				color: $c_ratings;
			}
		}
	}
	.last{
		border-bottom: 0;
	}
	.button{
		a{
			margin-top: 30px;
		    float: right;
		    padding: 10px 0;
		    text-align: center;
		    width: 250px;
		    color: #fff;
		    background: #663399;
		    font-size: 20px;
		    font-weight: bold;
		    @include xs{
		    	float: none;
		    	margin: 0 auto;
		    	margin-top: 40px;
		    	display: table;
		    }
		}
	}	
}

/*home*/

/*shows_list*/

#shows_list{
	.home_boxes{
		.square{
			height: 360px;
			@include md{
				height: 293px;
			}
			@include sm{
				height: 345px;
			}
			@include xs{
				height: 300px;
			}
		}
		.box{
			.txt{
				.desc{
					font-size: 30px;
				}
			}
		}
	}
	.page_select{
		.search{
			text-align: right;
			float: right;
			margin-top: 14px;
			font-size: 13px;
			font-weight: bold;
			@include xs{
				margin-top: 24px;
			}
			span{
				display: inline-block;
			}
			.text{
				width: 80px;
			}
			.icon{
				display: inline-block;
				padding-left: 20px;
				margin-left: 10px;
				.button{
					padding-left: 10px;
					padding-right: 0;
					float: right;
					display: inline-block;
					width: 15px;
					height: 15px;
					background: url(../img/header/search.png) center no-repeat;
				}
			}
		}
	}
}

/*shows_list*/

/*editors*/

#editors{
	.home_boxes{
		.square{
			height: 262.5px;
		}
		.square{
			height: 262.5px;
			@include md{
				width: 212.5px;
			}
			@include sm{
				width: 345px;
			}
			@include xs{
				width: 315px;
			}
		}
		.box{
			background-size: cover;
			.txt{
				.desc{
					font-size: 24px;
				}
			}
		}
	}
}

#editors_detail{
	margin-bottom: 100px;
	.editor_pic{
		height: 262.5px;
		background-size: cover;
		background-position: center;
	}
	.desc{
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: 300;
		line-height: 26px;
	}
	.share{
		a{
			margin-right: 10px;
		}
	}
	.page_select{
		border-color: #000; 
		.button{
			cursor: inherit;
			text-align: left;
			font-size: 24px;
			&:after{
				display: none;
			}
		}
	}
}

/*editors*/

/*search_results*/
#search_results{
	margin-bottom: 100px;
	.desc{
		font-size: 20px;
	}
	.page_select{
		border-color: #000; 
		.button{
			cursor: inherit;
			background: #000;
			color: #fff;
		}
	}
}
/*search_results*/

/*404*/
#fourofour{
	margin-bottom: 0;
	.banner{
		padding: 200px 0;
		background-size: cover;
		background-position: center;
		text-align: center;
		img{
			display: block;
			margin: 0px auto;
			margin-bottom: 50px;
		}
		.button{
			font-size: 13px;
			display: inline-block;
			color:#fff;
			padding: 10px 30px;
			background: $c_ekranella;
		}
	}
}
/*404*/

/*show_detail*/
.main_banner{
	width: 100%;
	position: relative;
	height: 550px;
	background-size: cover;
	background-position: center top;
	.txt{
		padding: 0 30px;
		font-weight: bold;
		position: absolute;
		bottom: 100px;
		left: 0px;
		right: 50px;
		z-index: 2;
		.box_title{
			font-size: 18px;
		}
		.desc{
			font-size: 55px;
			color: #fff;
			line-height: 45px;
		}
	}
	&:after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,0.4);
		z-index: 1;
		top: 0;
		left:0;
	}
}

.share_box{
	padding: 10px 0;
	margin: 0;
	background: #000;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	div:first-child { 
		a{
			&:hover{
				color: #fff;
			}
		}
    	@include xs{
			border-bottom: 1px solid;
		    width: 80%;
		    padding: 30px 0;
		    margin: 0 auto;
		    font-size: 20px;
		    text-transform: uppercase;
		}
	}
	@include xs{
		text-align: center;
	}
	.share{
		text-align: right;
		@include xs{
			text-align: center;
			margin: 20px 0 10px 0;
		}
		a{	
		margin-left: 25px;
		margin-top: 2px;
		display: inline-block;
			img{
				height: 16px;
			}
		}
		span{
			font-weight: 400;
			display: block;
			float: left;
			@include xs{
				display: none;
			}
		}
	}
}

.sidebar{
	@include sm{
		margin-top: 30px;
	}
	@include xs{
		margin-top: 30px;
	}
	.home_boxes{
		.rectangle{
			height: 180px;
		}
		.box{
			margin-bottom: 5px;
			background-size: auto 103%;
			&:hover{
				background-size: auto 108%;
				@include sm{
					background-size: cover;
					margin-bottom: 30px;
				}
				@include xs{
					background-size: cover;
					margin-bottom: 30px;
				}
			}
			@include sm{
				background-size: cover;
			}
			@include xs{
				background-size: cover;
			}
			.txt{
				left: 20px;
				bottom: 20px;
				right: 20px;
				.desc{
					font-size: 14px;
				}
			}
		}
	}
	.page_select{
		margin-bottom: 10px;
		.button{
			cursor: inherit;
			color: #fff;
			background: #000;
			font-size: 14px;
			width: 150px;
		}
	}
	.sidebar_title{
		margin-top: 30px;
	}
	.shareit{
		text-align: center;
    	padding: 40px 0;
    	a{
    		margin: 0 5px;
    	}
	}
}

.more_button{
	position: relative;
	text-align: center;
	margin-bottom: 40px;
	.more{
		padding: 6px 0;
		width: 180px;
		background: #000;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		display: inline-block;
		margin: 0 auto;
	}
	.line{
		position: absolute;
		content:"";
		width: 100%;
		height: 1px;
		left: 0;
		top: 50%;
		background: #000;
		z-index: -1;
	}
}

#show_detail{
	.show_desc{
		margin-top: 40px;
		margin-bottom: 40px;
		span{
			display: block;
			font-size: 16px;
			margin-left: 40px;
			@include xs{
				margin-left: 0;
			}
		}
		.main_title{
			font-size: 16px;
			margin-bottom: 20px;
			font-weight: bold;
		}
		.title{
			font-weight: bold;
			margin-bottom: 5px;
			font-size: 14px;
		}
		.desc{
			margin-bottom: 20px;
			font-weight: 300;
		}
	}
	.home_boxes{
		.square{
			height: 408.75px;
			@include xs{
				height: 300px;
			}
		}
		.box{
			.txt{
				.desc{
					margin: 5px 0;
				}
			}
		}
	}
	.tabser{
		position: relative;
		@include xs{
			display: none;
		}
		.tabs-head{
			position: absolute;
		    top: -79px;
		    right: 15px;
		    width: 100%;
		    text-align: right;
		    li{
		    	display: inline-block;
			    width: 120px;
			    text-align: center;
			    padding: 12px 0;
			    a{
		    		color: #000;
		    	}
		    }
		    .active{
		    	background: $c_series2;
		    	color: #fff;
		    	a{
		    		color: #fff;
		    	}
		    }
		}
	}
}
/*show_detail*/


/*news_page*/
.news_page{
	.main_banner{
		.txt{
			.desc{
				line-height: normal;
				font-size: 45px;
				@include xs{
					font-size: 30px;
				}
			}
		}
	}
	.news_box{
		padding-bottom: 50px;
		.txt{
			margin: 50px 0;
			font-size: 16px;
			line-height: 28px;
			iframe{
				width: 100%;
				margin: 30px 0;
			}
			img{
				width: 100%;
				height: auto !important;
				margin: 30px 0;
			}
			.author{
				margin: 20px 0;
				color: $c_ekranella;
				.date{
					font-size: 12px;
					color: #000;
				}
			}
		}
		img{
			width: 100%;
		}
		.page_select{
			width: 45px;
			height: 45px;
			text-align: center;
			position: relative;
			color: #fff;
			margin: 10px 10px 0px 0;
			display: inline-block;
			background: #000;
			line-height: normal;
			span{
				width: 100%;
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				height: 18px;
				font-size: 13px;
			}
		}
		.active{
			background: $c_news;
		}
		.tags{
			font-size: 14px;
			margin: 30px 0;
			.title{
				color: $c_news;
				font-weight: bold;
			}
		}
	}
}
.fotohaber_page{
	.news_box{
		.txt{
			margin: 30px 0 10px 0;
		}
		.main_title{
			color: $c_fotohaber !important;
			margin: 20px 0;
			font-weight: bold;
		}
		.active{
			background: $c_fotohaber !important;
		}
		.tags{
			.title{
				color: $c_fotohaber !important;
			}
		}
	}
}


.interview_page {
	.news_box {

		.main_title {
			color: $c_interview !important;
		}

		.info{
			margin:20px 0;
			li {
				color: #000;				
				a {
					display: block;
					font-weight: normal;
					color: $c_interview !important;
				}
			}			
		}
		.active{
			background: $c_interview !important;
		}
		.tags{
			.title{
				color: $c_interview !important;
			}
		}
		.txt{
			margin-bottom: 10px;
			.interview{
				margin-bottom:20px;
				background: url(../img/interview_icon.png) no-repeat left top;
				padding-left:40px;
				font-size: 16px;
				line-height: 28px;
				p {
					margin-bottom:10px;
				}
				strong {
					font-weight: bold;
				}				
			}
		}		
	}
}

.list_s_txt{
	.home_boxes{
		.box{
			.txt{
				.desc{
					font-size: 24px !important;
    				line-height: 26px !important;
				}
			}
		}
	}
}


.search_box{
	display: none;
	position: absolute;
	top: 128px;
	left: 0;
	background: $c_ekranella;
	width: 100%;
	z-index: 100;
	.search_close{
			position: absolute;
			width: 20px;
			height: 18px;
			background: url(../img/header/close_wh.png) center no-repeat;
			background-size: 19px 19px;
			cursor: pointer;
			top: 30px;
			right: 20px;
			display: none;
			@include sm{
				display: block;
				right: 40px;
			}
			@include xs{
				display: block;
			}
		}
	.container{
		@include sm{
			height: 74px;
		    position: absolute;
		    margin: auto;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}
		@include xs{
			height: 74px;
		    position: absolute;
		    margin: auto;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}
	}
	@include sm{
		position: fixed;
		top: 0;
		height: 100%;
		background: rgba(0,0,0,0.85);
	}
	@include xs{
		position: fixed;
		top: 0;
		height: 100%;
		background: rgba(0,0,0,0.85);
	}
	.txt{
		border:0;
		color: #fff;
		font-size: 16px;
		padding: 25px 0px 5px 0px;
		margin-bottom: 20px;
		background: none;
		border-bottom: 2px solid #fff;
		width: 100%;
		&::-webkit-input-placeholder{
			color: #fff;
		}
		&::-moz-placeholder{
			color: #fff;
		}
		&:-ms-input-placeholder{
			color: #fff;
		}
	}
	.icon{
		width: 18px;
		height: 18px;
		background: url(../img/header/search_wh.png) center no-repeat;
		position: absolute;
		top: 26px;
		right: 15px;
		cursor: pointer;
	}
}

/*ratings_page*/

.ratings_page{
	padding-top: 80px;
	@include xs{
		padding-top: 40px;
	}
	.page_select{
		float: left;
		width: 100%;
		.title{
			float: left;
			width: 320px;
			@include xs{
				width: auto;
				margin-bottom: 10px;
			}
			span{
				font-size: 14px;
				font-weight: 300;
			}
			&:after{
					display: none;
				}
		}
		.buttons{
			.button{
				float: right;

			}
		}
	}
	.dates{
		margin-top: 80px;
		margin-bottom: 80px;
		.main_title{
			font-size: 20px;
			width: 100%;
			padding-bottom: 5px;
			margin-bottom: 20px;
			border-bottom: 2px solid #000;
			font-weight: bold;
		}
		.date_box{
			width: calc(20% - 20px);
			padding: 8px 0;
			margin: 0 10px 10px 10px;
			background: $c_ekranella;
			color: #fff;
			font-size: 14px;
			float: left;
			text-align: center;
			font-weight: 300;
			@include xs{
				width: calc(50% - 20px);
			}
		}
	}
	.share{
		margin-top: 80px;
		@include xs{
			clear: both;
		}
		.main_title{
			font-size: 20px;
			width: 100%;
			padding-bottom: 5px;
			margin-bottom: 20px;
			border-bottom: 2px solid #000;
			font-weight: bold;
		}
		a{
			display: inline-block;
			margin-right: 10px;
			width: 40px;
			img{
				width: 100%;
			}
		}
	}
}

#datepicker{
	margin-top: -112px;
	background: #19b5fe;
	color: #fff;
	padding: 20px 0 30px 20px;
	@include sm{
		margin-top: 110px;
	}
	@include xs{
		margin-top: 40px;
		padding: 5px 0 5px 0px;
	}
	th{
		padding: 6px;
		text-align: center;
	}
	td{
		padding: 6px 0;
		text-align: center;
		a{
			&:hover{
  				color: #000;
			}
		}
	}
	.ui-datepicker-unselectable{
		color: #ccc;
	}
	.ui-datepicker-header{
		position: relative;
	}
	.ui-datepicker-next{
		position: absolute;
		right: 28px;
		top: -2px;
		span{
			display: none;
		}
		&:after{
			content:"∨";
			font-size: 22px;
			color: #fff;
		}
	}
	.ui-datepicker-prev{
		position: absolute;
		right: 65px;
		top: -2px;
		span{
			display: none;
		}
		&:after{
			content:"∧";
			font-size: 22px;
			color: #fff;
		}
	}
	.ui-datepicker-title{
		float: left;
		margin-bottom: 20px;
		padding-left: 8px;
		text-transform: uppercase;
		font-size: 22px;
		@include xs{
			width: 100%;
		}
	}
	.ui-datepicker-current-day{
		color: #000;
		a{
			&:hover {
 				color: #000; 
 				border: 0px;
			}
		}
	}
}

/*ratings_page*/